@import "~styles";

:host {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
}

.name {
  font-size: 60pt;
}

.by {
  font-size: 36pt;
}

.artist {
  margin-bottom: 50px;
}

.container {
  @include no-select;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;
}
