@import "/src/styles";

:host {
  display: flex;
  flex-direction: column;
  font-size: 16pt;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header {
  flex-shrink: 0;
}

.scroll-container {
  overflow: auto;
}

.row {
  display: flex;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid #ccc;
  flex-shrink: 0;
}
