@import "~styles";

:host {
  @include no-select;

  display: flex;
  flex-direction: column;
  font-size: 16pt;
  height: 100%;
}

.row {
  display: flex;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
