@import "/src/styles";

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.song {
  display: grid;
  grid-template-areas: "name name" "cover original";
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;

  width: 400px;
  margin: 10px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  grid-area: name;
  font-size: 20pt;
  height: 80px;
}

.cover {
  grid-area: cover;
}

.original {
  grid-area: original;
}

.link {
  font-size: 18pt;
  height: 70px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 5px;
}

.link:hover {
  cursor: pointer;
  background-color: #3c3c3c;
}
