:host {
  display: flex;
  height: 55px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.name {
  // padding-left: 2px;
  flex-shrink: 0;
  width: 100px;
}

app-score-editor {
  width: 150px;
  flex-shrink: 0;
}

.total {
  width: 100px;
  font-size: 24pt;
  flex-shrink: 0;
}
