:host {
  height: 100px;
  display: flex;
  font-size: 16pt;
}

.tab {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ccc;
  height: 60%;
}

.tab:hover {
  cursor: pointer;
  font-size: 17pt;
}
