<ng-container *ngIf="song$ | async as song">
  <div class="container" *ngIf="!videoPlaying">
    <div class="title">Song #{{ song.id }}</div>
    <div>{{ song.year }}</div>

    <div class="video first" [routerLink]="'1'" (click)="videoStart()">
      Hard
    </div>
    <div class="video" [routerLink]="'2'" (click)="videoStart()">Medium</div>
    <div class="video last" [routerLink]="'3'" (click)="videoStart()">Easy</div>
  </div>
  <router-outlet
    *ngIf="videoPlaying"
    (deactivate)="onSongEnded()"
  ></router-outlet>
</ng-container>
