:host {
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.song {
  font-size: 48pt;
  border: 3px solid #cccccc;
  padding: 10px 0;
  width: 400px;
  text-align: center;
  margin: 10px;
}

.song:hover {
  cursor: pointer;
  background-color: #3c3c3c;
}
