:host {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 48pt;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.song-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.title {
  margin: 50px;
}

.video {
  margin: 10px;
  border: 5px solid #cccccc;
  padding: 10px 0;
  width: 300px;
  text-align: center;
}

.video:hover {
  cursor: pointer;
  background-color: #3c3c3c;
}

.first {
  margin-top: auto;
}

.last {
  margin-bottom: 200px;
}

.complete {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.played {
  border-color: green;
}

.name {
  font-size: 60pt;
}

.by {
  font-size: 36pt;
}

.artist {
  margin-bottom: 50px;
}
