<div class="container" *ngIf="!videoPlaying">
  <div class="song-id">
    <div class="title">Song #{{ song.id }}</div>
    <div>{{ song.year }}</div>
  </div>

  <ng-container *ngIf="!complete">
    <div
      class="video first"
      [ngClass]="{ played: hard }"
      [routerLink]="'1'"
      (click)="videoStart(1)"
    >
      Hard
    </div>
    <div
      class="video"
      [ngClass]="{ played: medium }"
      [routerLink]="'2'"
      (click)="videoStart(2)"
    >
      Medium
    </div>
    <div
      class="video last"
      [ngClass]="{ played: easy }"
      [routerLink]="'3'"
      (click)="videoStart(3)"
    >
      Easy
    </div>
  </ng-container>
  <div *ngIf="complete" class="complete">
    <app-answer
      [name]="song.name"
      [artist]="song.artist"
      [coverArtist]="song.coverArtist"
    ></app-answer>

    <div class="video" (click)="next()">NEXT</div>
  </div>
</div>
<router-outlet
  *ngIf="videoPlaying"
  (deactivate)="onSongEnded()"
></router-outlet>
